*.iml
*.apk
*.aab
*.dex
*.class

.gradle
/build
/captures

local.properties

/.idea
.DS_Store

.externalNativeBuild
/auth/src/main/res/xml/credentials.xml
/sampleapp/src/main/res/xml/credentials.xml

/sampleapp/detekt-report.html